<div class="s-profile">
    <a href="#" data-ma-action="profile-menu-toggle">
        <div class="sp-pic">
            <img src="~/Content/img/demo/profile-pics/11.jpg" alt="">
        </div>

        <div class="sp-info">
            Wisnu Adhi Pradana

            <i class="zmdi zmdi-caret-down"></i>
        </div>
    </a>

    <ul class="main-menu">
        <li>
            <a href="profile-about.html"><i class="zmdi zmdi-account"></i> View Profile</a>
        </li>
        <li>
            <a href="#"><i class="zmdi zmdi-input-antenna"></i> Privacy Settings</a>
        </li>
        <li>
            <a href="#"><i class="zmdi zmdi-settings"></i> Settings</a>
        </li>
        <li>
            <a href="#"><i class="zmdi zmdi-time-restore"></i> Logout</a>
        </li>
    </ul>
</div>

